<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Tareas</h1>
        </div>
        <div class="card-body">
            {{#if contactos}}
            <h1>Contactos</h1>
            <ul class="list-group">
                {{#each contactos}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{firstname}}
                    {{lastname}} /
                    {{email}} / 
                    {{phone}}
                    <a class="btn btn-danger btn-sm " href="/borrar-contacto/{{@key}}" role="button">Delete</a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p>Sin contactos aun</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="/nuevo-contacto" method="post">
                <div class="form-group">
                    <input type="text" name="firstname" placeholder="Firstname" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Lastname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" placeholder="Phone" class="form-control">
                </div>
                <button class="btn btn-dark" href="#" role="button">Save</button>
            </form>
        </div>
    </div>
</div>